.antoine {
    margin-top: 3rem;
    h2 {
        display: none;
    }
    &__container {
        padding: 1rem 3rem 1rem 1rem;
        background-image: url(images/livre70lr.png);
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 4rem 0 0 2rem;
        border-radius: 1rem;
        @include boxshadow1;
        img {
            height: 125px;
            width: 125px;
            border-radius: 50%;
            margin-right: 2rem;
            margin-left: -3rem;
            @include whiteshadow;
        }
        a {
            @include whiteshadow;
            padding: 1rem;
            -webkit-text-decoration: none !important;
            text-decoration: none;
            border-radius: 1.5rem;
            color: $fontcolor1;
            background-image: linear-gradient(to right, $colorprimary, $colorsecondary);
            transition: background-image 3.5s ease-in-out;
        }
        a:hover {
            background-image: linear-gradient(to right, $colorsecondary, $colorprimary); /* Changement de couleur au survol */
            
        }
        p {
            opacity: 0.9;
            font-size: 14px;
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .antoine {
        &__container {
            padding: 1rem;
            display: block;
            margin: 1.5rem 0 1.5rem 0;
            p {
                margin-right: 0;
                text-align: center;
                margin: auto;
                margin-bottom: 1rem;
            }
            img {
                display: none;
            }
        }
        &__btn {
            display: flex;
            justify-content: center;
        }
    }
}
@media screen and (min-width: 992px) {
    .antoine__container {
        background-image: none;
    }
    
}
