.title {
    @include goldshadow;
    padding: 1rem;
    text-align: center;
    h1 {
        font-size: 30px;
        font-weight: 400;
        color: $fontcolor1;
        opacity: 0;
        transform: translateY(20px);
    }
}
@keyframes fadeInUp {
    to {
        opacity: 0.9;
        transform: translateY(0);
    }
}
.title h1 {
    animation: fadeInUp 2.5s ease-in-out forwards;
}


header {
    min-height: 100px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.logo img {
    display: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav a {
    -webkit-text-decoration: none !important;
    text-decoration: none;
    color: $fontcolor1;
    border: 0px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
    padding-bottom: 0.5rem;
    &:hover {
        color: $fontcolor;
        border-bottom: 1px solid $fontcolor;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding: 0;
        position: relative;
        z-index: -1;
    }
    .logo {
        width: 100%;
        z-index: 1;
    }
    .logo img {
        display: block;
        width: 100%;
        height: auto;
        object-fit: cover;
    }
 
    nav {
        display: none;
    }
    .title {
        margin-top: -3rem;
        background-image: url(images/bgspace.jpg);
        background-size: cover;
        background-attachment: fixed;    
        border-radius: 2rem 2rem 0 0;
        box-shadow: none;
        padding: 1.5rem 1rem;
    }
}