.swiper {
    height: 640px;
    .flexcard {
        height: 100%;
        display: grid;
        place-items: center;
    }
    .swiper-slide {
        width: 300px  !important;
        height: 590px;
        background-image: url(images/carte5.png);
        background-size: cover;
        border-radius: 0.5rem;
        @include boxshadow1;
        p {
            padding: 0.5rem 1rem;
            font-size: 16px;
            text-align: center;
        }
    }
    a , strong {
        color: $fontcolor;
        text-decoration: none;
    }
}
.swiper-pagination .swiper-pagination-bullet {
    background-color: $fontcolor1;
}

.swiper1 {
    width: 55%;
    margin: auto;
    height: 200px;
    @include font;
    .swiper-wrapper {
        border: 1px solid transparent;
    }
    .swiper-slide {
        box-shadow: 0 0 0.1rem $fontcolor1;
        background-image: url(images/livre.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
    }
    &__name {
        display: flex;
        justify-content: center;
        gap: 2rem;
        margin: 1.5rem 0 2.5rem 0;
        strong {
            margin-right: 1rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .swiper1 {
        height: 300px;
        margin-top: 3rem;
    }
}

